<div class="footer">
  <nav class="navbar navbar-default">
    <div class="copyright">
      <p class="text-left">
      Docxs © 2015
      <a class="pull-right" href="https://mixpanel.com/f/partner"><img src="//cdn.mxpnl.com/site_media/images/partner/badge_blue.png" alt="Mobile Analytics" /></a>
      </p>
    </div>
  </nav>
</div>
