<div class="row">
  <div class="col-md-5">
    <h1>Customers</h1>
    <ul class="list-group">
      <% @customers.each do |customer| %>
        <li class="list-group-item">
          <%= link_to customer.name, customer_path(customer.id) %>
        </li>
      <% end %>
    </ul>
    <%= link_to "New customer", new_customer_path, class: "btn btn-primary" %>
  </div>
</div>
