<div class="row">
  <div class="col-md-8">
    <h1>Doctor information</h1>
    <p class="lead"><strong>Name: </strong><%= @doctor.name.titleize%></p>
    <p class="lead"><strong>Address: </strong><%= @doctor.name.titleize%></p>
  </div>
</div>
